* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button {
  padding: 20px 30px;
  border-radius: 50px;
  background-color: #f2b91e;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.img-button {
  cursor: pointer;
}

.serif {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
}

.b-i {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* header */

/* header-top */
.header-top .container {
  height: 140px;
  padding: 0 55px;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo img {
  width: 255px;
  cursor: pointer;
}

/* navbar */
.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
}

.navbar .navbar-link {
  margin-right: 35px;
}

.navbar .navbar-link .navbar-link {
  margin: 0 12px;
}

.navbar .navbar-link .nav-link {
  margin: 0 12px;
  position: relative;
}

.navbar .navbar-link .nav-link:hover::after, .navbar .navbar-link .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 80%;
  transform: translateX(10%);
  border: 1px solid #f2b91e;
  text-align: center;
  color: #f2b91e;
}

.navbar .navbar-link .nav-link .new {
  padding: 2px 3px;
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: #dc1245;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 2px;
}

.navbar .navbar-social .nav-social {
  margin: 0 8px;
}

.navbar .navbar-social .nav-social:hover {
  color: #f2b91e;
}

/* jumbotron */
.jumbotron {
  background-image: url("../img/slide-1.jpg");
}

.jumbotron .container {
  height: 835px;
  position: relative;
}

.jumbotron .jumbo-title {
  width: 700px;
  padding: 5px;
  position: absolute;
  top: 25%;
  left: 45%;
}

.jumbotron .jumbo-title h1 {
  line-height: 75px;
  font-size: 70px;
}

.jumbotron .jumbo-title h1 span {
  color: #f2b91e;
}

.jumbotron .jumbo-title p {
  width: 600px;
  margin-top: 30px;
  line-height: 1.6em;
  font-size: 20px;
}

/* jumbo-sale */
.jumbo-sale {
  height: 235px;
  width: 100%;
  padding: 0 65px;
  position: absolute;
  bottom: 0;
  transform: translateY(70px);
  background-color: #f2b91e;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.jumbo-sale > div {
  flex-basis: 50%;
}

.jumbo-sale span {
  color: white;
}

.jumbo-sale .subscrive h2 {
  text-align: center;
  font-size: 32px;
}

.jumbo-sale .subscrive .email-box {
  margin-top: 30px;
  padding-left: 25px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbo-sale .subscrive .email-box input {
  outline: none;
  border: none;
  flex-grow: 1;
  font-size: 16px;
}

.jumbo-sale .subscrive .email-box .button {
  background-color: #2d4649;
  margin-left: 25px;
}

.jumbo-sale .time {
  padding-left: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.jumbo-sale p {
  font-size: 20px;
}

.jumbo-sale .time .number {
  font-size: 70px;
}

/* main */
section {
  padding: 60px;
}

.section-title {
  text-align: center;
  font-size: 45px;
}

/* about-section */
.about-section .container {
  margin-top: 70px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-section .container > div {
  flex-basis: 45%;
}

.about-section .signature {
  padding: 60px 0;
  text-align: center;
}

.about-section .signature h2 {
  font-size: 35px;
}

.about-section .signature img {
  margin-top: 50px;
}

.about-section .info {
  line-height: 35px;
}

/* new-courses-section */
.new-courses-section {
  background-color: #edf2f5;
}

.new-courses-section .container {
  flex-direction: column;
  align-items: center;
}

.new-courses-section h2 {
  margin-bottom: 40px;
}

.new-courses-section .cards {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.new-courses-section .cards .card {
  flex-basis: 370px;
  text-align: center;
  margin: 15px;
  background-color: white;
  border: 1px solid lightgray;
  position: relative;
}

.new-courses-section .cards .card .course-image {
  position: relative;
  height: 200px;
}

.new-courses-section .cards .card .course-image .layer {
  display: none;
}

.new-courses-section .cards .card:hover .course-image .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
}

.new-courses-section .cards .card .card-info-top {
  margin: 30px 30px 0;
  border-bottom: 1px solid lightgray;
}

.new-courses-section .cards .card .card-info-top h3 {
  margin-bottom: 20px;
}

.new-courses-section .cards .card .card-info-top p {
  padding-bottom: 25px;
  color: gray;
}

.new-courses-section .cards .card .card-info-bottom {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 14px;
}

.new-courses-section .cards .card .card-info-bottom i {
  color: #f2b91e;
}

.new-courses-section .cards .card .special {
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #f09b23;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

/* book-section */
.book-section {
  padding: 0;
  height:  606px;
  background-image: url("../img/slider_1.jpg");
  color: white;
  position: relative;
}

.book-section .container {
  align-items: center;
}

.book-section .container > div:not(.right-side-menu) {
  width: 50%;
  text-align: center;
}

.book-section .container h2 {
  color: #f2b91e;
}

.book-section .container p{
  margin: 30px 0;
  font-size: 30px;
}

.book-section img {
  margin-top: 37px;
}

.book-section div .img-button {
  cursor: pointer;
}

.book-section .right-side-menu {
  padding: 10px 15px;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  text-align: center;
  color: #222222;
  font-size: 25px;
}

.book-section .right-side-menu div {
  padding: 10px 0;
}

.book-section .right-side-menu div i {
  cursor: pointer;
  transition: transform 0.5s;
}

.book-section .right-side-menu div i:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* why-section */
.why-section .container{
  flex-direction: column;
}

.why-section h2 {
  margin-bottom: 40px;
}

.why-section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why-section .cards .card {
  padding: 30px;
  margin: 15px;
  flex-basis: 500px;
  display: flex;
  border-left: 7px solid #f2b91e;
  box-shadow: 0 0 20px lightgray;
}

.why-section .cards .card:hover {
  background-color: #f2b91e;
}

.why-section .cards .card .card-left {
  padding-right: 30px;
  font-size: 50px;
}

.why-section .cards .card .card-left i {
  color: #f2b91e;
}

.why-section .cards .card:hover .card-left i {
  color: white;
}

.why-section .cards .card .card-left i {
  color: #f2b91e;
}

.why-section .cards .card .card-right h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

.why-section .cards .card .card-right p {
  color: gray;
  line-height: 1.6em;
}

.why-section .cards .card:hover .card-right p {
  color: #222222;
}

/* feedback-section */
.feedback-section {
  background-image: url("../img/feedback.jpg");
  color: white;
}

.feedback-section .container {
  justify-content: space-around;
}

.feedback-section .feedback-box {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-section .feedback-box .box-left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.feedback-section .feedback-box i {
  font-size: 50px;
}

.feedback-section .feedback-box h3 {
  font-size: 40px;
  color: #f2b91e;
}

.feedback-section .feedback-box p {
  font-weight: bold;
}

/* student-section */
.student-section .container {
  max-width: 750px;
  min-height: 500px;
  text-align: center;
  flex-direction: column;
}

.student-section h2 {
  margin-bottom: 30px;
}

.student-section p {
  font-size: 18px;
  line-height: 27px;
}

.student-section .slider .top {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.student-section .slider .top .prev, .student-section .slider .top .next {
  cursor: pointer;
}

.student-section .slider .top .students {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-section .slider .top .students .student img {
  margin: 0 10px;
  border-radius: 50%;
  width: 70px;
  cursor: pointer;
}

.student-section .slider .top .students .student.current img {
  width: 100px;
}

.student-section .slider .down {
  margin-bottom: 30px;
}

.student-section .slider .down h3{
  margin-bottom: 10px;
  font-size: 24px;
}

.student-section .slider .down i {
  margin: 2px;
  color: #f2b91e;
  font-size: 18px;
}

/* footer */
footer {
  padding: 30px 0 60px;
  background-color: #f2b91e;
}

footer .container {
  flex-wrap: wrap;
}

footer .container .footer-section {
  flex-basis: 25%;
  padding-right: 20px;
  margin-top: 30px;
}

footer .container .footer-section h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 22px;
}

footer .container .footer-section > p {
  margin-bottom: 15px;
  padding-right: 20px;
}

footer .container .footer-section span {
  font-size: 15px;
}

footer .container .footer-section i {
  font-size: 20px;
  margin-right: 10px;
}


footer .container .footer-section .list {
  display: flex;
  flex-wrap: wrap;
}

footer .container .footer-section .list div {
  margin-bottom: 20px;
  flex-basis: calc(50% - 10px);
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  /* non funziona ? */
  /* text-overflow: ellipsis; */
}

footer .container .footer-section .list div:hover a {
  text-decoration: underline;
}

footer .container .footer-section .list i {
  font-size: 5px;
}

footer .container .footer-section .blog-article {
  max-width: 400px;
  margin-bottom: 30px;
  display: flex;
  cursor: pointer;
}

footer .container .footer-section .blog-article img{
  margin-right: 20px;
}

footer .container .footer-section .blog-article p{
  font-size: 12px;
}

@media screen and (max-width: 1200px) {

  /* footer */
  footer .container .footer-section {
    flex-basis: 50%;
    padding: 0 30px;
  }

}

@media screen and (max-width: 992px) {

  /* about-section */
  .about-section .container > div {
    flex-basis: 100%;
  }

  /* feedback-section */
  .feedback-section .container {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .feedback-section .feedback-box {
    height: 200px;
    flex-basis: 40%;
  }

}

@media screen and (max-width: 768px) {

  .section-title {
    font-size: 35px;
  }

  /* why-section */
  .why-section .cards .card .card-left {
    font-size: 30px;
  }

  .why-section .cards .card .card-right h3 {
    font-size: 20px;
  }

  /* feedback-section */

  .feedback-section .feedback-box {
    height: 150px;
    flex-basis: 100%;
  }

  /* student section */
  .student-section p {
    font-size: 16px;
  }

  .student-section .slider .down h3{
    font-size: 20px;
  }

}

@media screen and (max-width: 600px) {

  /* footer */
  footer .container .footer-section {
    flex-basis: 100%;
    text-align: center;
  }

  footer .container .footer-section .list div {
    justify-content:center;
  }

  .blog-article {
    margin: auto;
  }

}
