<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MasterStudy</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>

  <body>

    <div id="app">

      <!-- header -->
      <header>

        <!-- header-top -->
        <div class="header-top">

          <div class="container">

            <!-- logo -->
            <div class="logo">
              <img src="img/MasterStudy-1.svg" alt="MasterStudy">
            </div>
            <!-- / logo -->

            <!-- navbar -->
            <nav class="navbar serif">

              <div class="navbar-link">
                <ul>
                  <li class="nav-link">
                    <a href="#">
                      Courses
                    </a>
                  </li>
                  <li class="nav-link">
                    <a href="#">
                      Courses Formats
                    </a>
                  </li>
                  <li class="nav-link">
                    <a href="#">
                      Add Courses
                    </a>
                    <div class="new">
                      New
                    </div>
                  </li>
                  <li class="nav-link">
                    <a href="#">
                      Pages
                    </a>
                  </li>
                  <li class="nav-link active">
                    <a href="#">
                      Demos
                    </a>
                  </li>
                </ul>
              </div>

              <div class="navbar-social">
                <ul>
                  <li class="nav-social">
                    <a href="">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li class="nav-social">
                    <a href="">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="nav-social">
                    <a href="">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li class="nav-social">
                    <a href="">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </nav>
            <!-- / navbar -->
          </div>

        </div>
        <!-- / header-top -->

        <!-- jumbotron -->
        <div class="jumbotron">

          <div class="container">

            <!-- jumbo-title -->
            <div class="jumbo-title">
              <h1 class="serif">
                Start your Human <span>Revolution</span> today
              </h1>
              <p>
                A wonderful serenity has taken possesion of my entire soul, like these sweet mourning of spring which I enjoy with my whole heart.
              </p>
            </div>
            <!-- / jumbo-title -->

            <!-- jumbo-sale -->
            <div class="jumbo-sale serif">

              <div class="subscrive">
                <h2>
                  <span>Limited Sale: </span> All courses with 55% off
                </h2>
                <div class="email-box">
                  <input type="email" placeholder="Enter your E-mail">
                  <a class="button serif">Subscrive</a>
                </div>
              </div>

              <div class="time">

                <div v-for="time in timer">
                  <p class="number">
                    <span>{{time.value}}</span>
                  </p>
                  <p>
                    {{time.name}}
                  </p>
                </div>

              </div>

            </div>
            <!-- / jumbo-sale -->

          </div>


        </div>
        <!-- / jumbotron -->

      </header>
      <!-- header -->

      <!-- main -->
      <main>

        <!-- about-section -->
        <section class="about-section">

          <div class="container">

            <div class="signature serif">
              <h2>
                Hey there, my name is John Doe. I'm the founder of the Brain Academy.
              </h2>
              <img src="img/sign.jpg" alt="John Doe">
            </div>

            <div class="info">
              A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, wich was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.
            </div>

          </div>

        </section>
        <!-- about-section -->

        <!-- new-courses-section -->
        <section class="new-courses-section">

          <div class="container">

            <h2 class="serif">New Courses</h2>

            <!-- cards -->
            <div class="cards">

              <div class="card" v-for="course in newCourses">

                <div class="course-image">
                  <img :src="course.img">
                  <div class="layer">
                    <span class="serif">${{course.price}}</span>
                  </div>
                </div>

                <div class="card-info-top">
                  <h3 class="serif">{{course.name}}</h3>
                  <p>{{course.type}}</p>
                </div>

                <div class="card-info-bottom">

                  <div>
                    <i class="fas fa-signal"></i>
                    <span>{{course.lv}}</span>
                  </div>

                  <div>
                    <i class="fas fa-list"></i>
                    <span>{{course.lectures}} Lectures</span>
                  </div>

                  <div>
                    <i class="far fa-clock"></i>
                    <span>{{course.hours}} hours</span>
                  </div>

                </div>

                <!-- special -->
                <div v-if="course.special" class="special">
                  <span class="serif">Special</span>
                </div>
                <!-- / special -->

              </div>

            </div>
            <!-- / cards -->

            <a class="button serif">
              Load More
            </a>

          </div>

        </section>
        <!-- new-courses-section -->

        <!-- book-section -->
        <section class="book-section">

          <div class="container">

            <div>
              <h2>
                Get My Exclusive Investing Book just for $19.50
              </h2>
              <p>
                <em>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </em>
              </p>
              <img class="img-button" src="img/amazon.png">
            </div>

            <div>
              <img src="img/book.png">
            </div>

            <!-- right-side-menu -->
            <div class="right-side-menu">

              <div class="side-menu-box">
                <i class="fas fa-desktop"></i>
              </div>

              <div class="side-menu-box">
                <i class="fas fa-life-ring"></i>
              </div>

              <div class="side-menu-box">
                <i class="fas fa-wrench"></i>
              </div>

              <div class="side-menu-box">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <div class="side-menu-box">
                <i class="fas fa-mobile-alt"></i>
              </div>

            </div>
            <!-- / right-side-menu -->

          </div>

        </section>
        <!-- / book-section -->

        <!-- why-section -->
        <section class="why-section">

          <div class="container">

            <h2 class="serif">Why my courses?</h2>

            <div class="cards">

              <div class="card" v-for="card in whyCardData">

                <div class="card-left">
                  <i :class="card.icon"></i>
                </div>

                <div class="card-right">
                  <h3>{{card.title}}</h3>
                  <p>
                    {{card.text}}
                  </p>
                </div>

              </div>

            </div>

          </div>

        </section>
        <!-- why-section -->

        <!-- feedback-section -->
        <section class="feedback-section">

          <div class="container">

            <div class="feedback-box" v-for="feedback in feedbackData">

              <div class="box-left">
                <i :class="feedback.icon"></i>
              </div>

              <div class="box-right">
                <h3>{{feedback.value}}</h3>
                <p class="serif">{{feedback.text}}</p>
              </div>

            </div>

          </div>

        </section>
        <!-- / feedback-section -->

        <!-- student-section -->
        <section class="student-section">

          <div class="container">

            <h2 class="serif">What Students Say</h2>

            <div class="slider">

              <div class="top">

                <div class="prev" @click="prevSlider">
                  <i class="fas fa-chevron-left"></i>
                </div>

                <div class="students">

                  <div class="student">
                    <img :src="slider[(sliderCount + 1) % slider.length].img" alt="studente" @click="nextSlider">
                  </div>

                  <div class="student current">
                    <img :src="slider[sliderCount].img" alt="studente">
                  </div>

                  <div class="student">
                    <img :src="slider[(sliderCount + slider.length - 1) % slider.length].img" alt="studente" @click="prevSlider">
                  </div>

                </div>

                <div class="next" @click="nextSlider">
                  <i class="fas fa-chevron-right"></i>
                </div>

              </div>

              <div class="down">

                <h3 class="serif">
                  {{slider[sliderCount].title}}
                </h3>

                <div class="vote">
                  <i v-for="i in slider[sliderCount].vote" class="fas fa-star"></i>
                </div>

              </div>

            </div>

            <p>
              {{slider[sliderCount].review}}
            </p>

          </div>

        </section>
        <!-- / student-section -->

      </main>
      <!-- main -->

      <!-- footer -->
      <footer>

        <div class="container">

          <!-- about -->
          <div class="footer-section">

            <h3 class="serif">About</h3>

            <p>
              MasterStudy is Education WordPress theme featured by Learning Management System (LMS) for online education.<br>
              Developed by Stylemix Themes.
            </p>

            <div>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>

          </div>
          <!-- / about -->

          <!-- contact -->
          <div class="footer-section">

            <h3 class="serif">Contact</h3>

            <p>USA, California 20, First Avenue, California</p>

            <p>
              Tel:+1 212 458 300 32<br>
              Fax:+1 212 375 24 14
            </p>

            <p><span>info@masterstudy-com</span></p>

          </div>
          <!-- / contact -->

          <!-- pages -->
          <div class="footer-section">

            <h3 class="serif">Pages</h3>

            <div class="list">

              <div>
                <i class="fas fa-circle"></i>
                <a href="#">
                 Blog
                </a>
              </div>

              <div>
                <i class="fas fa-circle"></i>
                <a href="#">
                 Courses
                </a>
              </div>

              <div>
                <i class="fas fa-circle"></i>
                <a href="#">
                 Home
                </a>
              </div>

              <!-- riprovare con ellipsis -->
              <div>
                <i class="fas fa-circle"></i>
                <a href="#">
                 Membership A...
                </a>
              </div>

              <div>
                <i class="fas fa-circle"></i>
                <a href="#">
                 Shortcodes
                </a>
              </div>

              <div>
                <i class="fas fa-circle"></i>
                <a href="#">
                 Typografy
                </a>
              </div>

            </div>

          </div>
          <!-- / pages -->

          <!-- blog -->
          <div class="footer-section">

            <h3 class="serif">Blog</h3>

            <div class="blog-article" v-for="article in footerArticles">
              <img :src="article.img" alt="article">
              <div>
                <h4 class="serif">
                  {{article.title}}
                </h4>
                <p>- {{article.date}}</p>
              </div>
            </div>

          </div>
          <!-- / blog -->

        </div>

      </footer>
      <!-- footer -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>

</html>
